


.quizz-btn{
  background-color: transparent;
  color: #22495A;
  border: 2px solid #22495A;
  border-radius: 5px;
}
.learn-btn{
  background-color: #22495A;
  color: #F4EFEB;
  border: 2px solid #22495A;
  border-radius: 5px;
}
@media (min-width: 320px) { 
  .discover{
    width: 100%;
    height: 275px;
  }
}
@media (min-width: 425px) { 
  .discover{
    width: 95%;
    height: 260px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 10px;
  }
}

@media (min-width: 576px) { 
  .discover{
    width: 65%;
    height: 265px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 10px;
  }
}


@media (min-width: 768px) { 
  .discover{
    width: 95%;
    height: 265px;
    margin-left: auto;
    margin-right: auto;

  }
 
}

@media (min-width: 992px) { 
  .discover{
    width: 100%;
    height: 275px;
  }
}

@media (min-width: 1200px) { 
    .discover{
      width: 100%;
      height: 270px;
    }
 }


@media (min-width: 1400px) {
  .discover{
    width: 100%;
    height: 250px;
  }
  
 }




