.jump-link{
    display: flex;
    flex-direction: column;
    top: 300px;
}
.rotate90{
    rotate: 90deg;
}
.rotate-90{
    rotate: -90deg;
}
@media (max-width : 320px) {
    .t-j{
        text-align: justify;
    }
}