.box-level{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19);
}
.box-level:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 60px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    border-radius: 10px;
    transition: ease-in 0.5s;
    transition: ease-out 0.5s;
}
.level{
    background-color: #22495A;
    border: 2px solid #22495A;
    border-radius: 25px;  
    padding: 5px;
}
.level:hover{
    border: 2px solid #22495A;
    border-radius: 25px; 
    padding: 5px;
}