
.learn-btn{
    background-color: #22495A;
    color: #F4EFEB;
    border: 2px solid #ffffff;
    border-radius: 5px;
}
.learn-btn:hover{
    background-color: white;
    color: #22495A;
}
.bg-creem{
    background-color: #D9D3CD
}
.confirm-btn{
    background-color: #476572;
    color: #F4EFEB;
    border-radius: 5px;
    border: none;
}
.confirm-btn:hover{
    background-color: #22495A;
    color: #F4EFEB;
    border-radius: 5px;
    border: none;
}
.wrong-btn{
    background-color: #476572;
    color: #F4EFEB;
    border-radius: 5px;
    border: none;
}


