@media (min-width: 320px) { 
  .heading-h{
    width: 100%;
    height: 50px;
  }
  .content-h{
    width: 100%;
    height: 130px;
  }
  .button-h{
    width: 100%;
    height: 70px;
  }
  .image{
    height: 40px;
    width: 40px;
  }
}
@media (min-width: 425px) { 
  .discover{
    width: 95%;
    height: 260px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 10px;
  }
}
@media (min-width: 576px) { 
  .image{
    height: 50px;
    width: 50px;
  }
}
@media (min-width: 768px) { 
  .image{
    height: 50px;
    width: 50px;
  }
}
@media (min-width: 1400px) {
  .heading-h{
    width: 100%;
    height: 50px;
  }
  .content-h{
    width: 100%;
    height: 130px;
  }
  .button-h{
    width: 100%;
    height: 70px;
  }
}